<!DOCTYPE html>
<html>
<head>
    <title>Edit Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>✏ Edit Job</h1>

    <form method="POST">
        <input type="text" name="company" value="{{ job.company_name }}" required>
        <input type="text" name="role" value="{{ job.job_role }}" required>
        <input type="date" name="date" value="{{ job.applied_date }}" required>

        <select name="status" required>
            <option value="Applied" {% if job.status == 'Applied' %}selected{% endif %}>Applied</option>
            <option value="Interview" {% if job.status == 'Interview' %}selected{% endif %}>Interview</option>
            <option value="Rejected" {% if job.status == 'Rejected' %}selected{% endif %}>Rejected</option>
            <option value="Offer" {% if job.status == 'Offer' %}selected{% endif %}>Offer</option>
        </select>

        <button type="submit">Update</button>
    </form>

    <a href="/">⬅ Back</a>
</div>

</body>
</html>
